# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv/
*.log

# Streamlit
.streamlit/secrets.toml

# VSCode / OS
.vscode/
.DS_Store
Thumbs.db

# Test / Cache
.pytest_cache/

# Dados de execução
app/data/*.csv
app/data/*.pdf
